.AvdancedSearch {
    width: 100%;
    height: 100vh;
}
.AvdancedSearchTop1{
    width: 100%;
}
.adcNavBar{
    align-items: center;
    height: 70px;
    width: 100%;
    background: rgb(10,33,51);
    background: linear-gradient(149deg, rgba(10,33,51,1) 0%, rgba(22,48,72,1) 37%, rgba(45,91,128,1) 66%, rgba(45,91,128,1) 68%, rgba(45,93,131,1) 88%);
    display: flex;
    position: relative;
    justify-content: space-between;
}
.AvdancedSearchTop1 {
    width: 100%;
    height: 106px;
    background-color: #1C233D;
}
.notificationBarAdc{
    height: 100%;
    display: flex;
    align-items: center;
}
.fingerprintBoxAdc{
    width: 67px;
    height: 100%;
    background-color: #1A1E37;

}
.notifIconsetAdc{
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex: 0.3;
    border-left: 1px #81a3be52 solid;
    align-items: center;
}
.notifIconClasStyle{
    font-size: 23px;
    color: #81A3BE;
}
.iconSetsomeAdc{
    width: 100px;
}
.searchBarNavAdc{
    display: flex;
    position: absolute;
    left: 0px;
    right: 0px;
    justify-content: center;
    align-items: center;
}
.searchIconNavAdc{
    display: flex;
    left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #c36b55;
    position: absolute;
    top:0px;
    bottom: 0px;
}
.profileBarAdc{
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
.profileboxAdc{
    height: 65%;
    border-radius: 5px;
    width: 170px;
    background-color: #081825;
    margin-left: 20px;
    box-sizing: border-box;
    padding: 6px;
    flex-direction: row-reverse;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatarprofileAdc{
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #ffffff53 solid;
}
.avatarprofileAdc > div{
    width: 27px;
    height: 27px;
    border-radius: 50%;
}
.infoprofileAdc{
   text-align: right;
   display: flex; 
   flex-direction: column;
}
.infoprofileAdc h6{
    margin: 0px;
    font-size: 11px;
    color: rgba(255, 255, 255, 0.719);
}
.infoprofileAdc span{
    font-size: 9px;
    margin-top: 2px;
    margin-right: 1px;
    color: rgba(255, 255, 255, 0.29);
}
.avatarprofileAdc img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.tagprofileAdc{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    background-color: #1C465E;
    border-radius: 30%;
    color: rgba(255, 255, 255, 0.397);
}
.divSearchbarNavAdc{
    width: 350px;
    height: 34px;
    position: relative;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.075);
    display: flex;
    justify-content: center;
    align-items: center;
}
.divSearchbarNavAdc input{
    background-color: transparent ;
    width: 95%;
    height: 98%;
    border: none;
    outline: none;
}
.divSearchbarNavAdc input::placeholder{
    color: rgba(255, 255, 255, 0.336);
}
.tabsHeaderAdc{
    display: flex;
    width: 100%;
    height: 36px;
    justify-content: space-between;
    align-items: center;
}

.AvdancedSearchTop2 {
    width: 100%;
    height: 170px;
    background-color: green;
}
.settingIconAdcCo{
    box-sizing: border-box;
    width: 67px;
    height: 100%;   
    border-left: 2.5px #0392F8 solid;  
}
.settingIconAdc{
    box-sizing: border-box;
    width: 50px;
    background-color: #0392F8;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.settingIconAdc > div{
    display: flex;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #1463C6;
    -webkit-box-shadow: 1px -1px 17px 5px rgba(20,99,198,0.59); 
box-shadow: 1px -1px 8px -2px rgba(20,99,198,0.59);
}
.AvdancedSearchBody {
    width: 100%;
    height: 100%;
}


