.sidebarAdcContainer{
    background-color: #181D37;
    width: 250px;
    z-index: 200;
    overflow: scroll;
    position: absolute;
    top: 0px;
    right: 0px; 
    height: 1000px;
    box-sizing: border-box;
    padding : 10px 17px;
    color: white;
    padding-top: 19px;
}
.closeAnimation{
  animation-duration: 3s;
  animation-name: closepanel;
}
.sidebarAdcContainer::-webkit-scrollbar {
    display: none;
}
.sidebarAdcContainer {
-ms-overflow-style: none;
scrollbar-width: none; 
}
.accardionContainerSidebarAdc{
    margin: 20px 0px;
}             
.sidebarTitleAdc{
    align-items: center;
    margin-top: 0px;
    margin-right: -2px;
    width: 100%;
    display: flex;
    justify-content: flex-start;   
}
.sidebarIconAdc{
    font-size: 34px;
}
.sidebarTitleLabeAdc{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    margin:0px 10px;
    white-space: nowrap;
    text-align: right;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}
.settingIconAdc2{
    display: flex;
    height: 30px;
    border-radius: 50%;
    width: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    box-sizing: border-box;
    font-size: 17px;
    color: white;
    background-color: #1463C6;
    margin-left: 14px;
    font-weight: bold;
box-shadow: 1px -1px 10px 0px rgba(20,99,198,0.59);
}
.labelSettingAdcSideBar{
    font-weight: bold;
}
.sideBarCloseBtnAdc{
    font-size: 22px;
    position: absolute;
    top: 30px;
    left: 15px;
}
.settingBtnSideBarAdc{

    width: 100%;
    margin-top: 7.5px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: flex-start;
}
.settingBtnAdc{
    font-size: 30px;
}
.categoryContainerAdc{
    margin-top: 10px;
    position: relative;
    box-sizing: border-box;
    padding: 35px 0px;
    padding-bottom: 0px;
    margin-right: 0px;
    margin-left: 10px;
}
.containerAdcWierd{
    position: absolute;
    top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom-left-radius: 8px;
    font-size: 13px;
    padding-top: 5px;
    box-sizing: border-box;
    left: 0px;
    right: 30px;
    bottom: 0px;
    background-color: #3C3F6A;
    border-top-left-radius: 8px;
    border-top-right-radius: 20px;
}
.chanseRowAdc{
    background-color: #363861;
    box-sizing: border-box;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.changeCircleItemAdc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
}
.chainCircleActivePrimary{
    background-color: #0A6FD7 !important;
    color: white;
    transition: 0.2s ease-in all;
}
.tagSelecthashAdcSideBar{
    margin-top: 20px;
    margin-bottom: 20px;
}
.changeCircleItemAdc span { 
    font-size: 10px;
    margin-top: 2px;
}
.circleLinkItonAdcsideBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2B2E4D;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border-radius: 50%;

}
.backgroundSpecialStyleAcdAcc{
    background-color:  #3D39CC !important;
}
.checkboxSlider{
    margin-top: 10px;
    margin-right: -4px;
}
.defaultCircleAcd{
    background-color: #363861;
    font-size: 8px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0px;
}